@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins';
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;

  background-color: rgb(239, 234, 234);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
